<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <h1>
                <a href="/">Home</a>
                <a href="/addtask">New Task</a>
                <a href="/deleteall">Delete All</a>
                <a href="/deleteone">Delete One</a>
                <a href="/addmany">Insert Many</a>
                <a href="/showtask">List Tasks</a>
        </h1>

        <form action="/update" method="POST">
            <label for="lastname">ID:</label>
            <input type="text" name="id" id="id" placeholder="enter the task id">
            Task State: <select name='status'>
                    <option value = "InProgress">InProgress</option>
                    <option value = "Complete">Complete</option>
                </select>
        <button type="submit">Submit</button>
    </form>
    </body>
    </html>